/* CSS declarations go here */
body{
  background: #fdfcfc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

.checked{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: bold;

  text-decoration: line-through;
}
