/* CSS declarations go here */
body{
  background-color: #00000;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: bold;
  color: #000000;
}

.checked{
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 23px;
  font-weight: bold;

  text-decoration: line-through;
}

.my-form-container{
  width:1080px;
  height: 80px;
  float:inherit ;
  padding:50px;
   background: #f0f0f0
 }

 .fill {
    min-height: 100%;
    height: 100%;
    width: 100%;
}
